@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Serif', serif;
  color: #333333cc;
  min-height: 100vh;
  border-top: 4px solid #b6111144;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  background-color: #b6111121;
}

* {
  box-sizing: border-box;
}

table {
  text-align: left;
  width: 100%;
}

td {
  text-align: left;
  max-width: 25%;
}

.home {
  color: #333333ee;
  background: url('/clouds.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  opacity: 0.8;
  font-size: 18px;
}
